.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #8f8f8f;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

}

/* Bio Frame */

.aboutPageMainframe {
  padding: 5vh 0vw 5vh 0.6vw;
  /* background-color: lime; */
}

.bioFrame {
  display: flex;
  /* background-color: lime; */
  justify-content: space-between;
  flex-direction: row;
}

#nameHeader {
  font-family: 'header-medium';
  font-size: 35px;
}

#introHeader {
  font-family: 'normal';
  font-size: 16.5px;
  font-weight: 500;
}

.bio {
  max-width: 50%;
}

.bio > p {
  font-size: 15px;
}

.subBio {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.subBio p {
  background: var(--accent);
  padding: 0.2vh 0.4vw;
  border-radius: 5px;
  font-size: 14px;
}

.portrait {
  max-width: 45%;
}

.portrait img {
  margin-top: 0.8vh;
  max-width: 100%;
  border-radius: 5px;
}

.portrait p {
  font-size: 11px;
  text-align: right;
  font-style: italic;
}

#hyperlink {
  background: var(--accent);
  padding: 0.2vh 0.4vw;
  border-radius: 5px;
  font-size: 14px !important;
  color: var(--text-secondary);
}

#hyperlink:hover {
  color: var(--text-primary);
}

/* Experience Frame */

.experienceFrame {
  border-top: solid 0.5px #e9e7db;
  padding: 2vh 0vw;
  margin-top: 4vh;
  /* background-color: lime; */
}

#experienceHeader {
  margin-bottom: 3vh;
}

/* Experience Card */

.experienceCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rgba(0, 255, 0, 0.407); */
  border-radius: 5px;
}

.experienceCardDescription {
  width: 93%;
}

.experienceCardTitleParent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0.5vh;
}

#experienceDate {
  font-style: italic;
  font-size: 14px;
}

#experienceTitle {
  font-size: 14px;
}

#experienceCompany {
  font-weight: 500;
  font-size: 16px;
}

#experienceDescription {
  font-size: 14px;
}