.blogMainFrame {
    padding: 5vh 0px 5vh 15.36px;
}

.blogTitle {
    text-align: left;
    margin-bottom: 0.5vh;
}

.blogDate {
    font-size: 14px;
    text-align: left;
    margin-bottom: 1.5px;
}

.blogMainFrame img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 1rem 0;
}

.blogMainFrame a {
    background: var(--accent);
    padding: 0.2vh 7.68px;
    border-radius: 5px;
    font-size: 14px !important;
    color: var(--text-secondary);
}

.blogMainFrame a:hover {
    color: var(--text-primary);
}

.blogDescription {
    font-size: 15px;
    font-style: italic;
}

/* 404 styles */

.blogNotFoundMainFrame {
    padding: 10vh 0px 10vh 15.36px;
}

.errorImg {
    max-width: 100px;
    margin: 0vh auto 4vh auto;
    display: block;
}

.errorHeading {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 18px;
}

.paragraphError {
    text-align: center;
}

.hyperLink {
    background: var(--accent);
    padding: 0.2vh 7.68px;
    border-radius: 5px;
    font-size: 14px !important;
    color: var(--text-secondary);
}

.hyperLink:hover {
    color: var(--text-primary);
}

@media (max-width: 500px) {
    .blogMainFrame {
        padding: 5vh 15.36px 5vh 15.36px;
    }
}