@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pageMainFrame {
    padding: 5vh 0px;
}

.writingsTitle {
    margin-left: 15.36px;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

.blogGrid {
    display: grid;
    margin-top: 2vh;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 654px) {
    .blogGrid {
        grid-template-columns: auto;
        gap: 0vh !important;
    }
}

.blogPost {
    margin-bottom: 3vh;
    border-radius: 5px;
    padding: 2vh 15.36px;
}

.blogPost:hover {
    background-color: antiquewhite;
}

.blogImage {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 1vh;
}

.blogDate {
    font-family: 'normal';
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0.5vh;
}

.blogTitle {
    font-family: 'normal';
    font-weight: 500;
    font-size: 18px;
}